name: Publish package to the Maven Central Repository
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          server-id: manoelcampos-ossrh
          # ~/.m2/settings.xml
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          cache: 'maven'
      - name: Publish package
        run: SIGN_KEY="${{ secrets.OSSRH_GPG_SIGN_KEY }}" mvn -f ./dtogen/pom.xml -DskipTests --no-transfer-progress --batch-mode -Psonatype deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
